<nav id="navbar">
    <ul >
        <li> <a routerLink="/login" >login</a></li>
        <li> <a routerLink="/about" >About</a></li>
        <li > <a routerLink="/home"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
        </svg></a></li>
    </ul>
</nav>


<script src="https://use.fontawesome.com/f59bcd8580.js"></script>
<div class="container" id="cardheight" >
<div class="row m-5 no-gutters shadow-lg">
 <div class="col-md-6 d-none d-md-block">
  <img src="https://images.unsplash.com/photo-1544597980-426873210008?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGxpZmVzdHlsZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="img-fluid" style="height:60%;width:100%"/>
 </div>
 <div class="col-md-6 bg-white p-5">
  <h3 class="pb-3">Registration Form</h3>
 <div class="form-style">
   <form class="example-form"  [formGroup]="UserRegistrationForm" (ngSubmit)="OnSubmit()">
  <div class="form-group pb-3">    
    <input type="input" placeholder="username" class="form-control"  aria-describedby="emailHelp"  formControlName="username">   
  </div>
  <div class="form-group pb-3">    
    <input type="email" placeholder="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  formControlName="email">   
  </div>
  <div class="form-group pb-3">   
    <input type="password" placeholder="password" class="form-control" id="exampleInputPassword1" formControlName="password">
  </div>
  <div class="d-flex align-items-center justify-content-between">
</div>
   <div class="pb-2">
  <button type="submit" class="btn btn-dark w-100 font-weight-bold mt-2" [disabled]="!UserRegistrationForm.valid">Register</button>
   </div>
</form>
  
 </div>
 </div>
</div>
</div>

