<nav id="navbar">
    <ul>
        <li> <a routerLink="/register">Register</a></li>
        <li><a routerLink="/login">Login</a><br></li>
        <li> <a routerLink="/home" >home</a></li>
    </ul>
  </nav>

<body>
  <div class=background>
    <h1 align=center style="background-color: rgba(14, 14, 14, 0.316);">{{title}}</h1>
    <div class="class1" align="center">
      <img class="img" src="{{image}}"  alt="no image"><br>
    </div>
    <h1>{{content}}</h1>
    <h4 style="margin-left:25px; font:small-caption;">{{author}}</h4>
  </div>
</body>
